<div class="row">
    <div class="col-8">
      <h3>Products</h3>
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Id</th>
            <th>CatId</th>
            <th>Name</th>
            <th>Description</th>
            <th>Image</th>
            <th>Price</th>
            <th>Stock</th>
            <th>Featured</th>
            <th>Active</th>
            <th>Discounted</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let product of products">
            <td>{{ product.id }}</td>
            <td>{{ product.catId }}</td>
            <td>{{ product.name }}</td>
            <td>{{ product.description }}</td>
            <td>{{ product.image }}</td>
            <td>{{ product.price }}</td>
            <td>{{ product.stock }}</td>
            <td>{{ product.featured }}</td>
            <td>{{ product.active }}</td>
            <td>{{ product.discounted }}</td>
            <td>
  
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-4 pt-5">
      <!-- <app-product-card [product]="products"></app-product-card> -->
    </div>
  </div>
