<div class="row">
    <div class="col-12 mb-1 pt-1 pb-1 d-flex justify-content-between">
        <app-data-cell [data]="dataRow" [key]="'id'"> </app-data-cell>
        <app-data-cell [data]="dataRow" [key]="'catId'"> </app-data-cell>
        <app-data-cell [data]="dataRow" [key]="'name'"> </app-data-cell>
        <app-data-cell [data]="dataRow" [key]="'description'"> </app-data-cell>
        <app-data-cell [data]="dataRow" [key]="'image'"> </app-data-cell>
        <app-data-cell [data]="dataRow" [key]="'price'"> </app-data-cell>
        <app-data-cell [data]="dataRow" [key]="'stock'"> </app-data-cell>
        <app-data-cell [data]="dataRow" [key]="'featured'"> </app-data-cell>
        <app-data-cell [data]="dataRow" [key]="'active'"> </app-data-cell>
        <app-data-cell [data]="dataRow" [key]="'discounted'"> </app-data-cell>
        <app-action-button-group 
            (selectClick) = "onSelectButtonClick()"
            (updateClick) = "onUpdateButtonClick()"
            (deleteClick) = "onDeleteButtonClick()">
        </app-action-button-group>
    </div>
</div>
