<h3 class="mb-4">Termék adatok szerkesztése</h3>

<div class="input mb-4">
  <form class="form-inline my-2 my-lg-0">
    <input (keyup)="onChangePhrase($event)" class="form-control mr-sm-2" type="text" placeholder="Search">
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
  </form>
</div>

<app-data-editor (updateClick)="onUpdate($event)" (deleteClick)="onDelete($event)" [phrase]="phrase"
  [productList$]="productList$">
</app-data-editor>

<nav class="mt-4 d-flex justify-content-center">
  <ul class="pagination">
    <li class="page-item">
      <a class="page-link" href="#">
        <span>&laquo;</span>
      </a>
    </li>
    <li class="page-item active"><a class="page-link" href="#">1</a></li>
    <li class="page-item"><a class="page-link" href="#">2</a></li>
    <li class="page-item"><a class="page-link" href="#">3</a></li>
    <li class="page-item">
      <a class="page-link" href="#">
        <span>&raquo;</span>
      </a>
    </li>
  </ul>
</nav>