<div class="container"> 
  <div class="row">
    <div class="col-3 offset-5 mt-3 mb-3">
      <select [(ngModel)]="filterKey" class="form-control">
        <option *ngFor="let key of filterKeys" [value]="key">
          {{ key }}
        </option>
      </select>
    </div>
    <div class="col-4 mt-3 mb-3">
      <input [(ngModel)]="phrase" type="text" class="form-control">
    </div>
  </div>
  
  <div class="row">
    <div class="col-12">
      <table class="table table-striped">
        <thead>
          <tr>
            <th *ngFor="let col of cols">{{ col.text }}</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let product of productList$ | async | filter:filterKey:phrase | slice:pageSliceStart:pageSliceEnd">
            <td *ngFor="let col of cols">
              <input *ngIf="col.editable" [(ngModel)]="product[col.key]" type="text" class="form-control">
              <span *ngIf="!col.editable">{{ product[col.key] }}</span>
            </td>
            <td>
              <div class="btn-group">
                <button (click)="onUpdate(product)" class="btn btn-info">
                  <i class="fa fa-refresh"></i>
                </button>
                <button (click)="onDelete(product)" class="btn btn-danger">
                  <i class="fa fa-trash"></i>
                </button>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <nav class="mt-4 d-flex justify-content-center">
    <ul class="pagination">
      <li class="page-item">
        <a class="page-link" href="#">
          <span>&laquo;</span>
        </a>
      </li>
      <li *ngFor="let btn of paginator" class="page-item"
        [class.active]="btn.page === currentPage">
      <a (click)="onPaginate($event, btn)" class="page-link" href="#">
        {{ btn.page }}
      </a>
      </li>
      <li class="page-item active"><a class="page-link" href="#">1</a></li>
      <li class="page-item"><a class="page-link" href="#">2</a></li>
      <li class="page-item"><a class="page-link" href="#">3</a></li>
      <li class="page-item"><a class="page-link" href="#">4</a></li>
      <li class="page-item"><a class="page-link" href="#">5</a></li>
      <li class="page-item">
        <a class="page-link" href="#">
          <span>&raquo;</span>
        </a>
      </li>
    </ul>
  </nav>
</div>